# Оптимизация для уменьшения размера
prefer-offline=true
cache-min=3600
fund=false
audit=false
loglevel=error

# Настройки для стабильности сети
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
network-timeout=300000
registry=https://registry.npmjs.org/ 